* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  /* width: 100%; */
}

body {
  background-color: #faf7f3;
  font-family: sans-serif;
  width: 100%;
  height: 4000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  /* padding-top: 10vmin; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0b1220;
  height: 10vmin;
  /* position: fixed; */
  z-index: 1000;
  width: 100%;
}

.web-logo {
  width: 25%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.web-logo h2 {
  font-size: 1vw;
}

.web-logo svg {
  font-size: 0.5vw;
}

.searchbar {
  width: 30%;
  display: flex;
  align-items: center;
  background-color: #1e293b;
  border-radius: 8px;
  padding: 0 0.75rem;
  justify-content: space-between;
}

.searchbar input {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 1.1vw;
  padding: 0.8rem 0;
  width: 100%;
}

.searchbar input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.searchbar i {
  color: #fff;
  font-size: 1.1vw;
  cursor: pointer;
}

.third-box {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  height: 100%;
}

.select-icon {
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  display: flex;
  user-select: all;
  cursor: pointer;
  width: 25%;
  height: 100%;
}

.select-icon p {
  color: white;
  font-size: 1vw;
}
.earth {
  width: 20%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.earth-icon {
  width: 1.8vw;
  height: 1.8vw;
  cursor: pointer;
  font-size: 1vw;
  border: none;
  border-radius: 100px;
}

.select-para {
  width: 73%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caret {
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caret i {
  width: 100%;
  font-size: 1vw;
}

.sign {
  width: 6vw;
  height: 5vw;
  align-items: center;
  justify-content: center;
  display: flex;
}

.sign-up {
  cursor: pointer;
  background-color: #0b1220;
  color: white;
  /* width: 90%; */
  border: 1px solid white;
  width: 90%;
  font-size: 1vw;
  height: 65%;
  border-radius: 6px;
}

.menu {
  color: white;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.menu-btn {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.4vw;
}

.below-nav {
  height: 30px;
  width: 100%;
  background-color: #254d70;
}

.para {
  color: white;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 20%;
}

.para h1 {
  font-family: "Segoe UI", "Open Sans", "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.para h2 {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1.5rem;
  font-weight: 350;
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.hero-section {
  height: 12%;
  width: 100%;
  background-image: url("https://www.awxcdn.com/adc-assets/images/hero/5/1440x450.jpg");
  filter: brightness(80%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.dashboard {
  height: 2.3vw;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #eaeaea;
}

.my-dashboard {
  position: relative;
  display: inline-block;
  border: none;
  background-color: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2vw;
}

.my-dashboard::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: calc(-0.3vw + 2px);
  width: 0;
  height: 2px;
  background-color: #111212;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.my-dashboard:hover::after {
  width: 100%;
  height: 2px;
}

.information {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.weather-box {
  height: 14rem;
  width: 45rem;
  background: linear-gradient(#7c6ab9, #113f67);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-left: 0%;
  margin-top: 1%;
}

.weather-header {
  height: 3rem;
  background-color: #273f4f;
}

.today-weather-air {
  display: flex;
  align-items: center;
  gap: 15px;
}

.air-quality {
  margin-top: 4%;
  height: 14.5vw;
  width: 19vw;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.air-para {
  margin-left: -23%;
  margin-top: 5%;
  font-style: inherit;
  font-size: 1vw;
}

.air-para h2 {
  text-align: center;
  width: 100%;
}
.air-button {
  background: #222;
  color: white;
  border: none;
  height: 3vw;
  width: 7vw;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8vw;
  margin-left: 11vw;
  font-size: 0.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.air-button:hover {
  background: #444;
}

.second-div {
  height: 22.3vw;
  width: 100vw;
  display: flex;
  /* background-color: white; */
}

.today-weather {
  height: 21vw;
  width: 47vw;
  margin-left: 16.52%;
  margin-top: 1%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.today-weather::before {
  margin-left: 3%;
  content: "";
  position: absolute;
  top: 7rem;
  left: 0;
  width: calc(50% - 2rem);
  height: 1px;
  background: #ddd;
  box-shadow: 0 3rem #ddd, 0 6rem #ddd, 0 9rem #ddd;
}

.today-weather::after {
  margin-right: 3%;
  content: "";
  position: absolute;
  top: 7rem;
  right: 0;
  width: calc(50% - 2rem);
  height: 1px;
  background: #ddd;
  box-shadow: 0 3rem #ddd, 0 6rem #ddd, 0 9rem #ddd;
}

.firstcity-names {
  height: 21vw;
  width: 20vw;
  background-color: white;

}

.day-wise-weather {
  height: 23vw;
  width: 47vw;
  margin-left: -20%;
  margin-top: 1%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.day-wise-weather::before {
  margin-left: 3%;
  content: "";
  position: absolute;
  top: 6em;
  left: 0;
  width: 93%;
  height: 1px;
  background: #ddd;
  box-shadow: 0 5rem #ddd, 0 10rem #ddd;
}

.hourly-para {
  margin-left: 2%;
  margin-top: 2%;
  font-size: 1.4vw;
}
.hourly-forecast {
  height: 29vw;
  width: 47vw;
  margin-left: -20%;
  margin-top: 1%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.hourly-forecast::before {
  margin-left: 3%;
  content: "";
  position: absolute;
  top: 7rem;
  left: 0;
  width: 93%;
  height: 1px;
  background: #ddd;
  box-shadow: 0 5rem #ddd, 0 10rem #ddd, 0 15rem #ddd;
}

.daily-para {
  margin-left: 2%;
  margin-top: 2%;
  font-size: 1.4vw;
}
.daily-forecast {
  height: 29vw;
  width: 47vw;
  margin-left: -20%;
  margin-top: 1%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.daily-forecast::before {
  margin-left: 3%;
  content: "";
  position: absolute;
  top: 7rem;
  left: 0;
  width: 93%;
  height: 1px;
  background: #ddd;
  box-shadow: 0 5rem #ddd, 0 10rem #ddd, 0 15rem #ddd;
}

/* 
footer {
    height: 37.5rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer div {
    display: inline-block;
}
#txt-para {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 3rem;
    text-align: center;

}

.f1 {
    position: relative;
    top: 18.5rem;
    height: 49.5%;
    width: 100%;
    background-image: url(footer-img.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.contact-btn {
    position: relative;
    top: 4.5rem;
    background: linear-gradient(35deg, #1a63d0, #2068ed);
    color: white;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(255, 65, 108, 0.3);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact-btn:hover {
    position: relative;
    bottom: 22rem;
    transform: scale(1.08);
    box-shadow: 0 8px 25px rgba(255, 65, 108, 0.5);
    background: linear-gradient(45deg, #2b95ff, #ff416c);
}

.logo {
    height: 8rem;
    width: 17%;
    margin-top: -5%;
}

.social-contact {
    position: relative;
    top: 5rem;
    /* left: 24.9%; */
/* display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    height: 5rem;
    width: 30%;
}


.social-contact a {
    font-size: xx-large;
    color: black;
} */
