* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #faf7f3;
  font-family: sans-serif;
  width: 100%;
  height: 4000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #0b1220;
  height: 10vmin;
  position: fixed;
  width: 100%;
}

.web-logo{
  width: 25%;
  height: 100%;
}

.searchbar {
  width: 35%;
  display: flex;
  align-items: center;
  background-color: #1e293b;
  border-radius: 8px;
  padding: 0 1rem;
  justify-content: space-between;
}

.searchbar input {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem 0;
  width: 100%;
  flex: 1;
}

.searchbar input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.searchbar i {
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.third-box {
  display: flex;
  align-content:center;
  justify-content: space-evenly;
  width: 40%;
  height: 100%;
  gap: 1rem;
}

.select-icon {
  justify-content: space-around;
  align-items: center;
  display: flex;
  user-select: all;
  cursor: pointer;
  width: 40%;
  height: 100%;
}

.select-icon p {
  color: white;
  padding: 1rem;
}

.earth-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-left: 5rem;
  border: none;
  border-radius: 100px;
}

.sign {
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sign-up {
  cursor: pointer;
  background-color: #0b1220;
  color: white;
  width: 90%;
  border: 1px solid white;
  height: 65%;
  border-radius: 6px;
}

.menu {
  color: white;
  width: 10%;
  height: 100%;
   align-items: center;
    justify-content: center;
    display: flex;
}

.menu-btn {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}
